.date-picker-height1{

    height: 40px;
    width: 300px;
    padding-left: 50px;
    /* margin-left: 10px; */
    position: relative;
    left: 0px;
}

.time-picker-icons112 {
    position: absolute;
    top: 70%;
    left: 1px;
    height: 40px;
    width: 40px;
    padding: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    border: 1px solid rgb(201, 201, 201);
    padding: 10px;
    color: rgb(188, 188, 188);
  
  }